body {
    font-family: "Lucida Console", monospace;
    background: #323a36;
    color: #fff;
    text-align: center;
}

.header {
    background: #33704f;
    width: 100%;
    height: 80px;
    border-radius: 0.7rem;
    box-shadow: 1px 1px 4px #000000;
}
.header img {
    width: 200px;
    height: auto;
    padding-top: 11px;
}

.links {
    i{
        color: #fff;
        font-size: 1.4rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    i:hover {
        transition: all 0.3s;
        color: #33704f;
    }
}

.text {
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    a {
        text-decoration: none;
        color: #fff;
    }
    a:hover {
        transition: all 0.3s;
        color: #33704f;
    }
}

.projekte {
    text-align: center;
    p {
        margin-left: auto;
        margin-right: auto;
        background: #323a36;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 30rem;
        border-radius: 0.5rem;
        outline: #33704f solid 2px;
        cursor: pointer;
        user-select: none;
        a {
            text-decoration: none;
            color: #ffffff;
        }
    }
    p:hover {
        transition: 0.3s ease-in-out;
        background: #33704f;
    }
}

.rechts {
    left: 0;
    bottom: 1px;
    width: 100%;
    text-align: center;
    a {
        text-decoration: none;
        color: #33704f;
    }
    a:hover {
        transition: all 0.3s;
        color: #56ba84;
    }
}

.aboutproject{
    margin-left: auto;
    margin-right: auto;
    img{
        width: 40rem;
        height: auto;
    }
    width: 40rem;
}

.buttons{
    display: flex;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    p {
        margin-left: auto;
        margin-right: auto;
        background: #323a36;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 15rem;
        border-radius: 0.5rem;
        outline: #33704f solid 2px;
        cursor: pointer;
        user-select: none;
        a {
            text-decoration: none;
            color: #ffffff;
        }
    }
    p:hover {
        transition: 0.3s ease-in-out;
        background: #33704f;
    }
}

@media (max-width: 700px) {
    .text{
        width: 100%;
    }
    .aboutproject{
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }
    .projekte{
        p {
            width: 80%;
        }
    }
    .buttons{
        width: 100%;
    }
}