body {
    font-family: "Lucida Console", monospace;
    background: #000000;
    color: #fff;
}

.headline {
    text-align: center;
    padding-top: 2rem;
}
.headline img {
    width: 400px;
    height: auto;
}

.projekte {
    text-align: center;
    a {
        text-decoration: none;
        color: #ffffff;
        background: #222222;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: 8rem;
        padding-right: 8rem;
        border-radius: 0.5rem;
        outline: #94f50c solid 2px;
    }
}

.links {
    text-align: center;
    a{
        text-decoration: none;
        color: #ffffff;
    }
    a:hover {
        transition: all 0.3s;
        color: #94f50c;
    }
}

.rechts {
    left: 0;
    bottom: 1px;
    width: 100%;
    text-align: center;
    a {
        text-decoration: none;
        color: #71bc09;
    }
    a:hover {
        transition: all 0.3s;
        color: #94f50c;
    }
}